body {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

#Logo {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  height: 90px;
  margin-bottom: 30px;
}

#Logo_txt {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 70%;
}

#Logo_img {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 30%;
  height: 65px;
  padding-bottom: 20px;
}

#Protokol {
  width: 96%;
  margin-bottom: 80px;
}

.name_protokol,
.footer_protokol {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.two_in_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.width_30 {
  border: 1px solid black;
  flex-basis: 30%;
  padding: 10px;
}

.width_70 {
  border: 1px solid black;
  flex-basis: 70%;
  padding: 10px;
}

#PRZEGLAD,
#PODSUMOWANIE {
  padding-left: 20px;
  width: 96%;
}
.PRZ_text {
  margin-top: 50px;
}

.PRZ_chkbox {
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.PRZ_img {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
}

.frame {
  float: left;
  margin-right: 10px;
}

#PRZ_img2 img {
  height: 270px;
  padding: 10px;
  object-fit: cover;
}
#PRZ_img3 img {
  height: 300px;
  padding: 20px;
  object-fit: cover;
}

.text-right {
  text-align: right;
}